* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

html, body {
    height: 100%;
    background:
    radial-gradient(at 0% 0%, rgb(252, 230, 227) 0px, transparent 50%),
    radial-gradient(at 13% 36%, rgb(173, 211, 211) 0px, transparent 50%),
    radial-gradient(at 56% 86%, #ece8e8 0px, transparent 50%),
    radial-gradient(at 69% 44%, rgb(241, 112, 112) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(204, 100%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 95% 5%, hsla(302, 81%, 90%, 1) 0px, transparent 50%);
}

.tool {
    background: rgb(47, 178, 211);
    display: flex;
    align-items: center;
}

.tool > * {
    height: 40px;
    width: 40px;
    margin: 5px;
    background: #ffffff;
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span, input, a, button {
    border: 2px solid black;
}

#save {
    margin-left: auto;
}

canvas {
    border: 1px solid black;
    margin: 10px auto;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
}

footer {
    color: black;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: larger;
    font-weight: bold;
    z-index: 1;
}

/* responsive */
@media only screen and (max-width: 600px) {
    body {
        min-height: auto;
    }

    canvas {
        margin: 20px;
        height: 580px;
        width: 94%;
    }

    footer {
        position: static;
        width: 100%;
        bottom: auto;
        font-size: large;
    }
}
