* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    height: 100vh;;
}

.tool {
    background: rgb(47, 178, 211);
    display: flex;
    align-items: center;
}

.tool > * {
    height: 40px;
    width: 40px;
    margin: 5px;
    background: #ffffff;
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span , input{
    border: 2px solid black;
}

#save {
    margin-left: auto;
}

canvas {
    border: 1px solid black;
    margin: 10px auto;
    /* background-color: #ffffff; */
}

.container {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    canvas {
        margin: 20px;
        height: 600px;
        width: 400px;
    }
}

@media only screen and (min-width: 768px) {
    canvas {
        margin: 20px;
        height: 800px;
        width: 900px;
    }
  }